/* write your styles here */
marquee{
    background-color:#ed484c; 
    color: white;
    padding: 5px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0%;
}
header{
    display: flex;
    justify-content:space-between;
    background-color: #4c4c4c;
}
header > img{
    padding-block-start: 7px;
    padding-block-end: 7px;
    width: auto;
    height: 40px;
    padding-inline-start: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}
nav li{
    padding: 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
nav li a{
    text-decoration: none;
    color: #c6c6c6;
}
nav li a:hover{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}

.join-us{
    background-color: #f18c97;
    background-image: url(images/floral.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    padding-bottom: 45px;
}
h1{
    font-size: -webkit-xxx-large;
    font-family: 'Anton', sans-serif;
    margin-bottom: 20px;    
}
.same-parg{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.join-us button{
    border: none;
    font-family: 'Bree Serif', serif;
    background-color: black;
    padding: 15px 60px;
    font-size: larger;
    color: #f18c97;
}
.join-us button:hover{
    cursor: pointer;
    background-color: #e7e3de;
}
h2{
    font-family: 'Caveat Brush', cursive;
    font-size: xx-large; 
}
h3{
    font-family: 'Bree Serif', serif;
}
.service {
    background-image: url(images/floral.png);
    background-color: #f0ece7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service div{
    display: flex;
    justify-content: center;
}
.service figure{
    text-align: center;

}
.service figure > i{
    font-size: 90px;
}
.service i:hover{
    color: rgb(236, 72, 72);
}
.service figcaption p{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}
.portfolio{
    background-image: url(images/floral.png);
    background-color: #ddceb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.portfolio img{
    border: #ddceb4 solid 1px;
    border-radius: 10px;
    height: 155px;
    width: 200px;
}
.portfolio div{
    display: flex;
    justify-content: center;
}
.portfolio figure{
    display: inline-block;
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.contact-us{
    background-image: url(images/floral.png);
    background-color: #afc7c6;
}
.contact-us button{
    font-size: 23px;
    padding: 10px 11px;
    border-radius: 30px;
    background-color: #afc7c6;
    border: #5a6464 solid 1px;
    margin-right: 10px;
}
.contact-us button:hover{
    color: #fcdea6;
    background-color: #222222;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: #f9f9f8;
    font-size: 17px;
    padding: 5px 0px;
}
footer p{
    font-family: 'Hammersmith One', sans-serif;
    margin: 15px 0px;
}
footer i{
    padding: 0px 5px;
}
footer:hover i{
    color: red;
}


